.item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .name-wrapper {
        display: flex;
        justify-content: center;
    }

    .image-wrapper {
        display: flex;
        justify-content: center;

        img {
            height: 30vh;
            width: 10vw;
        }
    }
    .price-wrapper {
        display: flex;
        justify-content: center;
    }
    .button-wrapper {
        display: flex;
        justify-content: center;
    }
}